{% extends 'base.html.twig' %}

{% block title %}Edit Exchange Status{% endblock %}

{% block body %}
        <div class="col-md-4 col-sm-8 col-xs-4 mx-auto box mt-4 box">
            <div class="yellow-box p-4">
                <h1>Edit Exchange Status</h1>
                {{ form_start(form) }}
                    {{ form_row(form.status) }}
                    <input type="submit" value="{{ submitButtonText|default('Edit Status') }}" class="btn blue-box" formnovalidate>

                {{ form_end(form) }}
            </div>
        </div>
    <div class="mt-6"></div>

    {#    <a href="{{ path('app_exchange_show', {id: exchange.id}) }}">Back to exchange</a>#}
{% endblock %}