{% extends 'base.html.twig' %}

{% block title %} 🧸 Home | gamexchange{% endblock %}

{% block body %}
<style>

</style>

    <div class="row mx-3 justify-content-center">
        {% for product in products %}

            <div class="product yellow-box  col-md-3">
                <a href="{{ path('app_product_show', {id: product.id}) }}">
                    <p class="text-center mt-2"><img src={{ asset('build/images/exchange.png') }}></p>
                    <h2>{{ product.title}}</h2>
                    <div class="mw-100 overflow-hidden rounded-top">
                        <img class="w-75 mb-2" src="{{ (product.image ? vich_uploader_asset(product): asset('build/images/placeholder.png')) |imagine_filter('squared_thumbnail_small') }}" alt="{{ product.title }}">
                    </div>
                </a>
            </div>
            
        {% endfor %}
    </div>

{% endblock %}
